/* ThreeScene.module.css */

.container {
  display: flex;
  justify-content: right;
  height: 100vh;
  margin-top: -86vh;
  margin-left: 200vh;
}

.sceneContainer {
  width: 100vw;
  height: 80vh;
}

@media screen and (max-width: 1367px) {
  .sceneContainer {
    width: 80vw;
  }
}

@media screen and (max-width: 1250px) {
  .container {
    display: flex;
    justify-content: right;
    height: 100vh;
    margin-top: -86vh;
    margin-left: 200vh;
   
  }
  
  .sceneContainer {
    width: 100vw;
    height: 80vh;
  }
  
}
@media screen and (max-width: 1150px) {
  .container {
    display: flex;
    justify-content: right;
    height: 100vh;
    margin-top: -86vh;
    margin-left: 200vh;
   
  }
  
  .sceneContainer {
    width: 100vw;
    height: 80vh;
  }
  
}






