/* ThreeScene.module.css */

.sceneContainer {
  position:absolute;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
  position: relative;
  margin-top: -41vw;
  margin-bottom: 4.3vw;
  
}
/* SceneOne.module.css */





/* Otros estilos... */
