h2{
    color: white;
    margin-left: 50px;
    text-align: center;
    margin-top: -10px;
}

/*Agregar medias query*/
@media screen and (max-width: 1280px) {
    .play-video {
        align-items: center;
        margin-left: 30px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 800px) {
    .play-video {
        display: flex; /* Asegúrate de que el contenedor sea un contenedor flexible */
        flex-direction: column; /* O ajusta según tu diseño */
        align-items: center;
        margin: 3px auto;
        max-width: 100%; /* Asegúrate de que el ancho máximo no exceda el ancho de la pantalla */
        padding: 0 20px; /* Añade un poco de espacio en los bordes, si es necesario */
        box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */
    }

}