.title-video{
    text-align: center;
    /* Centra el texto horizontalmente */
    font-family: 'Arial', sans-serif;
    /* Establece la fuente del texto */
    font-size: 25px;
    /* Tamaño de la fuente */
    color: #ffffff;
    /* Color del texto */
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
    /* Sombra del texto */
    border-bottom: 2px solid #333;
    /* Añade una línea de 2px de ancho y color #333 debajo del texto */
    padding-bottom: 10px;
    /* Espaciado opcional para separar la línea del texto */
}

/*Agregar medias query*/
@media screen and (max-width: 1370px) {
    .play-video {
        align-items: center;
        margin-left: 90px;
        margin-bottom: 20px;
    
    }
    h2{
        color: rgb(255, 255, 255);
        margin-left: 50px;
        text-align: center;
        margin-top: 0px;
    }
}


@media screen and (max-width: 1280px) {
    .play-video {
        align-items: center;
        margin-left: 30px;
        margin-bottom: 20px;
        
    }
    h2{
        color: rgb(255, 255, 255);
        margin-left: 50px;
        text-align: center;
        margin-top: 0px;
    }
}

@media screen and (max-width: 800px) {
    .play-video {
        display: flex; /* Asegúrate de que el contenedor sea un contenedor flexible */
        flex-direction: column; /* O ajusta según tu diseño */
        align-items: center;
        margin: 3px auto;
        max-width: 100%; /* Asegúrate de que el ancho máximo no exceda el ancho de la pantalla */
        padding: 0 20px; /* Añade un poco de espacio en los bordes, si es necesario */
        box-sizing: border-box; /* Incluye el padding en el ancho total del contenedor */
    }
    h2{
        color: rgb(255, 255, 255);
        margin-left: 50px;
        text-align: center;
        margin-top: 0px;
    }

}



